html, body
{
    width: 100%;
    height: 100%;
    background: #000;
}

body
{
    font-size: large;
}

.navbar
{
    min-height: 80px;
}

.sticky-navigation
{
    top: -100px;
}

.bg-texture
{
    background:-webkit-linear-gradient(-45deg, #ffb300 33%, transparent 0%),
        linear-gradient(-45deg, #512DA8 100%, transparent 33%);
    background:-moz-linear-gradient(-45deg, #ffb300 33%, transparent 0%),
        linear-gradient(-45deg, #512DA8 100%, transparent 33%);
    background:linear-gradient(-45deg, #ffb300 33%, transparent 0%),
        linear-gradient(-45deg, #512DA8 100%, transparent 33%);
}