body, html
{
    width: 100%;
    height: 100%;
}

.snow
{
    background-image: url("https://image.ibb.co/k0aqx6/snow.png"),
    url("https://image.ibb.co/eCahc6/snow1.png"),
    url("https://image.ibb.co/bOboH6/snow2.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    animation: snow 20s linear infinite;
    background-color: black;
}

@keyframes snow
{
    from
    {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    to
    {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}